.map-form-container {
  fieldset {
    margin-bottom: 30px;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.map-field {
  margin-bottom: 30px;
}

.gm-style img {max-width: none;}
.gm-style label {width: auto; display:inline;}
.pac-container {z-index:2000;}