.GeotagCreateModal {
  .Map-coordinates {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      width: 50%;
      float: left;
      padding-right: 10px;
    }
    li:last-child {
      padding-right: 0;
    }
    margin-bottom: 20px;
  }
  .Buttons {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
    }
    li:first-child {
      float: left;
    }
    li:last-child {
      float: right;
    }
  }
}

.GeotagListModal {
  .Geotags-list {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .icon {
      vertical-align: 1px;
    }
    margin-bottom: 20px;
  }
}

.gm-style img {
  max-width: none;
}
.gm-style label {
  width: auto; display:inline;
}
.pac-container {
  z-index:2000;
}